@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&family=Pixelify+Sans:wght@400..700&family=Tiny5&display=swap');

:root::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.05);
  z-index: -1;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	
	background-image: url(public/images/bg.png);
	background-size: 210vh;
	background-repeat: no-repeat;
	background-color: #457cce;
	color: white;
	text-shadow: 2px 2px black;
}

* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 50vw;
	align-items: center;
}

#title-container {
	position: relative;
	width: 100%;
	height: auto;
	margin-bottom: 3rem;
}

#title-container h1 {
	color: #bbbbbb;
	font-family: "Notable", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 6rem;
	text-shadow: 5px 5px black;
	text-align: center;
}

#title-container p {
	position: absolute;
	color: yellow;
	font-family: "Tiny5", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2rem;
	text-shadow: 2px 2px black;
	text-align: center;

	animation-name: size-bounce;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

form {
	margin-bottom: 3rem;
	font-weight: 700;
}
form * {
	min-width: 128px;
	min-height: 32px;
	font-size: x-large;
}
form button {
	border-radius: 0;
	background-color: #c0c0c0;
	font-weight: 700;
}

form input {
	max-width: 256px;
	font-weight: 700;
	justify-content: center;
	margin: 0 0.5rem;
}

#player-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#player-container h2 {
	color: white;
	background-color: rgba(0, 0, 0, 0.70);
	padding: 0.5rem;
	margin-bottom: 1rem;

	font-family: "Tiny5", sans-serif;
	font-weight: 400;
	font-size: 3rem;
}

/* ANIMATIONS */
@keyframes size-bounce {
	0% {
		font-size: 2rem;
		right: calc(calc(50vw - 50%) - 450px);
		top: +100px;
	}
	50% {
		font-size: 3rem;
		right: calc(calc(50vw - 50%) -450px);
		top: +70px;
	}
	100% {
		font-size: 2rem;
		right: calc(calc(50vw - 50%) - 450px);
		top: +100px;
	}
}